In [86]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

In [87]:
a= pd.read_csv("./SalesAnalysis/Sales_Data/Sales_April_2019.csv")

In [88]:
YearFiles = [files for files in listdir("./SalesAnalysis/Sales_Data") ]

In [89]:
## READING THE DATA##

In [90]:
a.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [91]:
for files in YearFiles:
    allmonthdata=pd.DataFrame()
    df=pd.read_csv("./SalesAnalysis/Sales_Data/"+files)
    allmonthdata=pd.concat([allmonthdata,df])

In [92]:
allmonthdata.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"

In [93]:
allmonthdata.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,11646,11646,11646,11646,11646,11646
unique,11208,20,7,24,9495,11032
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,17,1454,10490,1454,17,17

In [94]:
allmonthdata.to_csv("./allmonthdata.csv", index=False)

In [95]:
data=pd.read_csv("./allmonthdata.csv")

In [96]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"

## WHAT WAS THE BEST MONTH FOR SALES AND HOW MUCH WAS EARNED##

In [98]:
##CLEANING THE DATA
nullvalues_month=data.isnull().sum().sum()
nullvalues_month

240

In [102]:
CleanData=data.dropna(how="any")
CleanData.head(200)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"
...,...,...,...,...,...,...
195,248338,USB-C Charging Cable,1,11.95,09/16/19 10:48,"811 12th St, Boston, MA 02215"
196,248339,Bose SoundSport Headphones,1,99.99,09/08/19 21:04,"723 North St, San Francisco, CA 94016"
197,248340,AAA Batteries (4-pack),1,2.99,09/13/19 20:08,"896 12th St, Seattle, WA 98101"
199,248341,USB-C Charging Cable,1,11.95,09/18/19 11:39,"755 5th St, Los Angeles, CA 90001"
200,248342,Apple Airpods Headphones,1,150,09/11/19 00:43,"922 Elm St, New York City, NY 10001"

In [109]:
CleanData["Months"]=CleanData["Order Date"].str[0:2]

CleanData.head()

<ipython-input-109-f0fb79348741>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  CleanData["Months"]=CleanData["Order Date"].str[0:2]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Months
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001",09
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301",09
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001",09
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101",09
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301",09

In [113]:
CleanData=CleanData[CleanData["Order Date"].str[:2]!="or" ]
CleanData.head()
CleanData.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Months
count,11646,11646,11646,11646,11646,11646,11646
unique,11208,20,7,24,9495,11032,3
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address,09
freq,17,1454,10490,1454,17,17,11609

In [ ]:
CleanData["Quantity Ordered"]=pd.to_numericsCleanData["Quantity Ordered"]
CleanData["Price Each"]

In [118]:
CleanData["Sales"] = CleanData["Quantity Ordered"]*CleanData["Price Each"]
CleanData.head()

TypeError: can't multiply sequence by non-int of type 'str'

In [117]:
best_sales_month=data.sum("Price Each").groupby("Months")

ValueError: No axis named Price Each for object type DataFrame