In [17]:
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join

In [18]:
a= pd.read_csv("./SalesAnalysis/Sales_Data/Sales_April_2019.csv")

In [25]:
YearFiles = [files for files in listdir("./SalesAnalysis/Sales_Data") ]

In [26]:
## READING THE DATA##

In [27]:
a.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [32]:
for files in YearFiles:
    allmonthdata=pd.DataFrame()
    df=pd.read_csv("./SalesAnalysis/Sales_Data/"+files)
    allmonthdata=pd.concat([allmonthdata,df])

In [33]:
print(allmonthdata)

      Order ID                 Product Quantity Ordered Price Each  \
0       248151   AA Batteries (4-pack)                4       3.84
1       248152    USB-C Charging Cable                2      11.95
2       248153    USB-C Charging Cable                1      11.95
3       248154        27in FHD Monitor                1     149.99
4       248155    USB-C Charging Cable                1      11.95
...        ...                     ...              ...        ...
11681   259353  AAA Batteries (4-pack)                3       2.99
11682   259354                  iPhone                1        700
11683   259355                  iPhone                1        700
11684   259356  34in Ultrawide Monitor                1     379.99
11685   259357    USB-C Charging Cable                1      11.95

           Order Date                         Purchase Address
0      09/17/19 14:44      380 North St, Los Angeles, CA 90001
1      09/29/19 10:19             511 8th St, Austin, TX 73301
2      09/16/19 17:48    151 Johnson St, Los Angeles, CA 90001
3      09/27/19 07:52        355 Hickory St, Seattle, WA 98101
4      09/01/19 19:03            125 5th St, Atlanta, GA 30301
...               ...                                      ...
11681  09/17/19 20:56   840 Highland St, Los Angeles, CA 90001
11682  09/01/19 16:00  216 Dogwood St, San Francisco, CA 94016
11683  09/23/19 07:39     220 12th St, San Francisco, CA 94016
11684  09/19/19 17:30   511 Forest St, San Francisco, CA 94016
11685  09/30/19 00:18   250 Meadow St, San Francisco, CA 94016

[11686 rows x 6 columns]

In [37]:
allmonthdata.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"

In [36]:
allmonthdata.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,11646,11646,11646,11646,11646,11646
unique,11208,20,7,24,9495,11032
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,17,1454,10490,1454,17,17

In [40]:
allmonthdata.to_csv("./allmonthdata.csv", index=False)

In [41]:
data=pd.read_csv("./allmonthdata.csv")

In [42]:
data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,248151,AA Batteries (4-pack),4,3.84,09/17/19 14:44,"380 North St, Los Angeles, CA 90001"
1,248152,USB-C Charging Cable,2,11.95,09/29/19 10:19,"511 8th St, Austin, TX 73301"
2,248153,USB-C Charging Cable,1,11.95,09/16/19 17:48,"151 Johnson St, Los Angeles, CA 90001"
3,248154,27in FHD Monitor,1,149.99,09/27/19 07:52,"355 Hickory St, Seattle, WA 98101"
4,248155,USB-C Charging Cable,1,11.95,09/01/19 19:03,"125 5th St, Atlanta, GA 30301"

In [44]:
##WHAT WAS THE BEST MONTH FOR SALES AND HOW MUCH WAS EARNED##

In [49]:
pd.to_datetime(data['Order Date'],format='%m/%d/%y %H:%M')
data.groupby(by=[data.index.month, data.index.year])

ValueError: time data 'Order Date' does not match format '%m/%d/%y %H:%M' (match)

In [ ]:
best_sales_month=data.sum("Price Each").groupby("sex")